.git
.idea
*.iml
.DS_Store
*.log
node_modules
src
docs
*.md
target/classes
target/test-classes
target/generated-sources
target/maven-archiver
target/maven-status
target/surefire-reports
target/*.original
.env
.env.local
.env.development
