spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/aieducenter
    username: your_username
    password: your_password
  data:
    redis:
      host: localhost
      port: 6379
spring.jpa.show-sql: true
